body {
  padding: 3rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 5rem;
  width: 50%;
  margin: 2 rem;
  font-size: 2rem;
}

.movie-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
}

.cards > p {
  width: 80%;
  text-align: center;
  border: red solid 1px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  padding-bottom: 1rem;
  border: 1px solid rgb(255, 0, 183);
}

form > div {
  margin: 1rem;
}

form > div > label {
  margin: 1rem;
}

form > div > input {
  width: 70%;
}
